<nav ng-controller="navCtrl" id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
  <div class="container ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" ng-class="{collapsed: isCollapsed}">
              <span class="sr-only ">Toggle navigation</span> Menu <i class="fa fa-bars "></i>
          </button>
      <a class="navbar-brand page-scroll " ui-sref="home" du-smooth-scroll><img src="img/nearby_pin_blue.png " /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " ng-class="{in: !isCollapsed}" uib-collapse="isCollapsed">
      <ul class="nav navbar-nav navbar-right ">
        <li du-scrollspy="home">
          <a class="page-scroll" ui-sref="home" ng-click="nav.goToTop()" du-smooth-scroll>Home</a>
        </li>
        <li>
          <a class="page-scroll " ui-sref="privacy" ng-click="nav.goToTop()">Privacy</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<section class="faq container-fluid">
  <div class="center-text">
    <h2 class="color-blue">FAQs</h2>
  </div>
  <div class="margin-top-40">
    <h3 class="color-blue">What is Uxta?</h3>
    <p>Uxta is a mobile app that allows you to borrow/buy/lend/sell items with people in your community.</p>
  </div>
  <div>
    <h3 class="color-blue">How do I start using Uxta?</h3>
    <p>Download Uxta from the app store or play store, login using either Google or Facebook, fill out your profile, and request to join a community. Once you have been approved to join the community, you can start creating & responding to posts!</p>
  </div>
  <div>
    <h3 class="color-blue">Does Uxta cost money to use?</h3>
    <p>Nope :)</p>
  </div>
  <div>
    <h3 class="color-blue">How do I get paid?</h3>
    <p>Payments are the responsiblity of the users. Uxta allows you to negoitiate and set your price, but the users are responsible for collecting and handling all payments.</p>
  </div>
  <div>
    <h3 class="color-blue">What if someone doesn’t return my item or returns it damaged?</h3>
    <p>Loaning out your stuff does involve some risk and we can't be responsible at this time for your items, however please let us know if something goes wrong. We can assist in contacting the other user and will ban them from the app if appropriate.</p>
  </div>
  <div>
    <h3 class="color-blue">What kind of items can be shared on Uxta?</h3>
    <p>Just about anything, though it must be an <i>item</i>. We would recommend items under $300 - kitchen appliances, tools, camping gear, sporting goods, electronics, clothing...the list goes on. Uxta is not for loaning out your child, dog, or skills.
      You may not share drugs, guns, or other illegal substances. We encourage our users to flag anything they find inappropriate.</p>
  </div>
  <div>
    <h3 class="color-blue">Can I report someone?</h3>
    <p>Yes, you can "flag" content in the app and "block" a user. We will review all flagged content in a timely manner and ban users from the app who we feel have acted innappropriately. You may also contact us at info.nearby.app@gmail.com at any time with
      questions or concerns. </p>
  </div>
  <div>
    <h3 class="color-blue">What if I forgot to verify the exchange by scanning the QR code?</h3>
    <p>If you are the person who transferred the item (the seller on the initial exchange & the buyer on the return), navigate to your history page, select the appropriate transaction card, and click “exchange”. In the lower right hand corner you should
      see some text that says “Forgot?”. Select that text then enter the approximate time the item was exchanged. The other person involved in the transaction will be prompted to verify that the exchange occurred.</p>
  </div>
  <div>
    <h3 class="color-blue">Can I loan out my stuff for free?</h3>
    <p>Absolutely! Just enter in $0 when you make the offer.</p>
  </div>
  <div>
    <h3 class="color-blue">Is Uxta safe to use?</h3>
    <p>While we do require our users to login through an existing account (Google or Facebook) and request personal info such as adresses & phone numbers, you should always use caution when meeting strangers. We encourage people to meet in public places
      & bring along a friend.</p>
  </div>
</section>
