<nav ng-controller="navCtrl" id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
  <div class="container ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" ng-class="{collapsed: isCollapsed}">
              <span class="sr-only ">Toggle navigation</span> Menu <i class="fa fa-bars "></i>
          </button>
      <a class="navbar-brand page-scroll " ui-sref="home" du-smooth-scroll><img src="img/nearby_pin_blue.png " /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " uib-collapse="isCollapsed">
      <ul class="nav navbar-nav navbar-right ">
        <li du-scrollspy="home">
          <a class="page-scroll" ui-sref="home" ng-click="nav.goToTop()" du-smooth-scroll>Home</a>
        </li>
        <li>
          <a class="page-scroll " ui-sref="privacy" ng-click="nav.goToTop()">privacy</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<section class="faq container-fluid">
  <div class="center-text">
    <h2 class="color-blue">FAQs</h2>
  </div>
  <div class="margin-top-40">
    <h3 class="color-blue">What is Nearby?</h3>
    <p>Nearby is a mobile app that allows you to borrow/buy/lend/sell items with people around you.</p>
  </div>
  <div>
    <h3 class="color-blue">How do I start using Nearby?</h3>
    <p>Download Nearby from the app store or play store, login using either Google or Facebook, fill out your profile, and add payment info. After that, you can start creating requests & making offers!</p>
  </div>
  <div>
    <h3 class="color-blue">Does Nearby cost money to use?</h3>
    <p>Nearby is free, however we keep 7% + $0.30 of profits. If you loan out a drill for $5, we will keep $0.65 and you will make $4.35.</p>
  </div>
  <div>
    <h3 class="color-blue">How do I get paid?</h3>
    <p>Payments are handled through the app using Stripe. Your first transaction may take about a week to appear in your bank account, but after that you should typically see credits within a couple days of a completed transaction.</p>
  </div>
  <div>
    <h3 class="color-blue">What if someone doesn’t return my item?</h3>
    <p>Please reach out to us ASAP! You can email us at info.nearby.app@gmail.com and we will attempt to reach out the the buyer. If the buyer doesn’t respond, we will charge them the estimated cost of the product, replace your product, and ban them from
      the app. We will do everything we can to to make the situation right, but sellers do assume some risk by loaning out their items.</p>
  </div>
  <div>
    <h3 class="color-blue">What if someone breaks my item?</h3>
    <p>We hope that the two people involved in the transaction can work something out, but if not, please reach out to us and we will do everything we can to make it right.</p>
  </div>
  <div>
    <h3 class="color-blue">Can I report someone?</h3>
    <p>Yes, please contact us to report a user. In the future, we plan to have an in-app feature to report a user.</p>
  </div>
  <div>
    <h3 class="color-blue">What if I forgot to verify the exchange by scanning the QR code?</h3>
    <p>If you are the person who transferred the item (the seller on the initial exchange & the buyer on the return), navigate to your history page, select the appropriate transaction card, and click “exchange”. In the lower right hand corner you should
      see some text that says “Forgot?”. Select that text then enter the approximate time the item was exchanged. The other person involved in the transaction will be prompted to verify that the exchange occurred.</p>
  </div>
  <div>
    <h3 class="color-blue">Can I loan out my stuff for free?</h3>
    <p>Absolutely! Just enter in $0 when you make the offer.</p>
  </div>
  <div>
    <h3 class="color-blue">Is nearby safe to use?</h3>
    <p>While we do require our users to login through an existing account (Google or Facebook) and require them to give us personal information such as their phone number & payment info, you should always use caution when meeting strangers. We encourage
      people to meet in public places, bring along a friend, and only accept offers from people who have profile pictures.</p>
  </div>
  <div>
    <h3 class="color-blue">Will I have to pay taxes on items that I sell?</h3>
    <p>If you make over $20,000 in charges prior to fees AND have more than 200 transactions in a given year, you will have to pay taxes. We will provide you with a 1099 if this is the case.</p>
  </div>
</section>
