<nav ng-controller="navCtrl" id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
  <div class="container ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" ng-class="{collapsed: isCollapsed}">
              <span class="sr-only ">Toggle navigation</span> Menu <i class="fa fa-bars "></i>
          </button>
      <a class="navbar-brand page-scroll " ui-sref="home" du-smooth-scroll><img src="img/nearby_pin_blue.png " /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " uib-collapse="isCollapsed">
      <ul class="nav navbar-nav navbar-right ">
        <li du-scrollspy="home">
          <a class="page-scroll" ui-sref="home" du-smooth-scroll>Home</a>
        </li>
        <li>
          <a class="page-scroll " ui-sref="privacy">privacy</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<section class="faq container-fluid">
  <div>
    <img src="img/nearby_pin_blue.png" class="center-pin-img">
  </div>
  <div class="center-text">
    <h2>check back soon!</h2>
  </div>
</section>
