<section class="giveaway text-center">
  <div class="container">
    <img src="img/banner_promo_small_white.png" />

    <h3 class="text-white">Download our app to be eligable to win our raffle!</h3>
    <h3 class="text-white"> The winner will be notified by email on Monday, June 5th!</h3>
    <a class="rcptr" href="http://www.rafflecopter.com/rafl/display/ea8ce9a71/" rel="nofollow" data-raflid="ea8ce9a71" data-theme="classic" data-template="" id="rcwidget_h9yfjbsb">a Rafflecopter giveaway</a>
    <script src="https://widget-prime.rafflecopter.com/launch.js"></script>
  </div>
</section>
