<nav ng-controller="navCtrl" id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
  <div class="container ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " data-toggle="collapse " ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" ng-class="{collapsed: isCollapsed}">
              <span class="sr-only ">Toggle navigation</span> Menu <i class="fa fa-bars "></i>
          </button>
      <a class="navbar-brand page-scroll " ui-sref="home" du-smooth-scroll><img src="img/nearby_pin_blue.png " /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " ng-class="{in: !isCollapsed}" uib-collapse="isCollapsed">
      <ul class="nav navbar-nav navbar-right ">
        <li du-scrollspy="home">
          <a class="page-scroll" ui-sref="home" du-smooth-scroll ng-click="nav.goToTop()">Home</a>
        </li>
        <li>
          <a class="page-scroll " ui-sref="privacy" ng-click="nav.goToTop()">Privacy</a>
        </li>
        <li>
          <a class="page-scroll " ui-sref="faq" ng-click="nav.goToTop()">FAQ</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<section class="faq container-fluid">
  <h3>Nearby App End User License Agreement</h3>
  <div>This End User License Agreement ("Agreement") is between you and Nearby and governs use of this app made available through the Apple App Store. By installing the Nearby App, you agree to be bound by this Agreement and understand that there is no tolerance
    for objectionable content. If you do not agree with the terms and conditions of this Agreement, you are not entitled to use the Nearby App.</div>
  <div>In order to ensure Nearby provides the best experience possible for everyone, we strongly enforce a no tolerance policy for objectionable content. If you see inappropriate content, please use the "Report" feature found on each post.</div>
  <br>
  <div> 1. Parties </div><br>
  <div>This Agreement is between you and Nearby only, and not Apple, Inc. ("Apple"). Notwithstanding the foregoing, you acknowledge that Apple and its subsidiaries are third party beneficiaries of this Agreement and Apple has the right to enforce this Agreement
    against you. Nearby, not Apple, is solely responsible for the Nearby App and its content. </div>
  <br>
  <div>2. Privacy </div> <br>
  <div>Nearby may collect and use information about your usage of the Nearby App, including certain types of information from and about your device. Nearby may use this information, as long as it is in a form that does not personally identify you, to measure
    the use and performance of the Nearby App. </div>
  <br>
  <div>3. Objectionable Content Policy </div> <br>
  <div> We will moderate all content and ultimately decide whether to remove content to the extent such content includes, is in conjunction with, or alongside any, Objectionable Content. Objectionable Content includes, but is not limited to: (i) sexually explicit
    materials; (ii) obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (iii) content that infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary
    right, or that is deceptive or fraudulent; (iv) content that promotes the use or sale of illegal or regulated substances, tobacco products, ammunition and/or firearms; and (v) gambling, including without limitation, any online casino, sports books,
    bingo or poker. </div>
  <br>
  <div> 4. Warranty </div> <br>
  <div> Nearby disclaims all warranties about the Nearby App to the fullest extent permitted by law. To the extent any warranty exists under law that cannot be disclaimed, Nearby, not Apple, shall be solely responsible for such warranty. </div>
  <br>
  <div> 5. Maintenance and Support </div> <br>
  <div> Nearby does provide minimal maintenance or support for it but not to the extent that any maintenance or support is required by applicable law, Nearby, not Apple, shall be obligated to furnish any such maintenance or support. </div>
  <br>
  <div> 6. Third Party Intellectual Property Claims </div> <br>
  <div> Nearby shall not be obligated to indemnify or defend you with respect to any third party claim arising out or relating to the Nearby App. To the extent Nearby is required to provide indemnification by applicable law, Nearby, not Apple, shall be solely
    responsible for the investigation, defense, settlement and discharge of any claim that the Nearby App or your use of it infringes any third party intellectual property right.</div>
  <br>
  <br>
  <h3>Nearby App - Payment Terms of Service</h3><br>
  <div>Payment processing services for sellers on Nearby are provided by Stripe and are subject to the Stripe Connected Account Agreement, which includes the Stripe Terms of Service (collectively, the “Stripe Services Agreement”). By agreeing to these terms
    or continuing to operate as a user on Nearby, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of Nearby enabling payment processing services through Stripe, you agree
    to provide Nearby accurate and complete information about you and your business, and you authorize Nearby to share it and transaction information related to your use of the payment processing services provided by Stripe.</div>
</section>
